{% extends 'profile/index.html.twig' %}

{% block title %}VetClinic | Назначенные приёмы{% endblock %}

{% block profile %}
    <li class="header__item">
        <a href="{{ path('checkup_new') }}" class="header__link">Записаться на приём</a>
    </li>
{% endblock %}

{% block content %}
    <div class="home">
        <div class="wrapper">
            <div class="home__info">
                <h1 class="block-header text-center">
                    Назначенные приёмы
                </h1>
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead class="topic-table__header">
            <tr>
                <th scope="col">Животное</th>
                <th scope="col">Доктор</th>
                <th scope="col">Назначенная дата</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="topic-table__content">
            {% for checkup in pagination %}
                <tr>
                    <td>{{ checkup.pet.name }}</td>
                    <td>{{ checkup.doctor.username }}</td>
                    <td>{{ checkup.date|date('d.m.Y H:i')  }}</td>
                    <td>{{ checkup.status }}</td>
                    {% if checkup.status is same as 'Назначен' %}
                        <td><a href="{{ path('checkup_cancel', { id: checkup.id }) }}" onclick="return confirm('Вы действительно хотите отменить данный приём?')" class="btn">Отменить</a></td>
                    {% elseif checkup.status is same as 'Ожидает оплаты' %}
                        <td><a href="{{ path('checkup_pay', { id: checkup.id }) }}" onclick="return confirm('К оплате {{ checkup.calculateSum() }} рублей. Оплатить данный приём?')" class="btn">Оплатить</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation paginator__text">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
