{% extends 'profile/index.html.twig' %}

{% block title %}VetClinic | Питомцы {% endblock %}

{% block profile %}
    <li class="header__item">
        <a href="{{ path('pet_new') }}" class="header__link">Добавить питомца</a>
    </li>
{% endblock %}

{% block content %}
    <div class="home">
        <div class="wrapper">
            <div class="home__info">
                <h1 class="block-header text-center">
                    Список питомцев
                </h1>
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead class="topic-table__header">
            <tr>
                <th scope="col">Кличка</th>
                <th scope="col">Вид</th>
                <th scope="col">Пол</th>
                <th scope="col">День рождения</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="topic-table__content">
            {% for pet in pagination %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.kind }}</td>
                    <td>
                        {% if pet.sex %}
                            {{ 'М' }}
                        {% else %}
                            {{ 'Ж' }}
                        {% endif %}
                    </td>
                    <td>{{ pet.birthday|date('d.m.Y') }}</td>
                    <td><a href="{{ path('pet_delete', { id: pet.id }) }}"
                           onclick="return confirm('Вы действительно хотите удалить данного питомца? Все назначенные приёмы будут отменены.')" class="btn">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation paginator__text">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
